/*
// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;
*/

/*Fonts*/

.Merriweather {
	font-family: 'Merriweather', serif;
}

.Sans {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.5em;
}

.Oswald {
  font-family: 'Oswald', sans-serif;
}

.Trisize {
  font-size: 2em;
  padding: 10px 10px 10px 10px;
}

.White{color: white;
  padding: 25px 0px 0px 25px;
}

/*End Fonts*/

.grid-pad {
  padding: 0px;
}


.gallery{
  font-size: 3em;
}

.col-1-3 {
  padding: 0px;
}

#owl-example {
  width: 500px;
  margin: 0 auto;
}

.box {
  background-color: grey;
  border: 1px solid black;
  padding: 25px 0px 25px 0px;
}

.shrooms {
    background-image: url('../img/mushrooms.gif');
    background-size: cover;
}

.forest {
    background-image: url('../img/forest.gif');
    background-size: cover;
}

.middle {
  height: 80px;
  padding: 10px;
  margin: 0px;
}


.bigs {
  height: 250px;
  padding: 10px;
  margin: 0px;
}

.big {
  background-color: grey;
  border: 1px solid black;
  height: 500px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.center{
    text-align: center;
    margin: auto;
}

.title {
	font-size: 2em;
	color: ;
	text-align: center;
	vertical-align: middle; 
}

.black-back {
	background-color: #A8C38D;
}

.white{
  color: white;
}

.maple_back {
  background-image: url('../img/maple_main.jpg');
  background-size: cover;
}


.jade{
  background-image: url('../img/jade.jpg');
  background-size: cover;   
}

.elm{
  background-image: url('../img/elm.jpg');
  background-size: cover;   
}

.spider{
  background-image: url('../img/elm.jpg');
  background-size: cover;   
}


.mellow {
  background-color: #61B410;
  padding: 15px 32px;
  margin-bottom: 10px;
}

.top-nav {
  color: #61B410;
  text-align: right;
  vertical-align: middle;
}

.background {
background-image: url('../img/rainbow.bmp');
background-size: cover
}

.tagline{
  background-color: #C6C6C6;
  font-size: 3em;
  text-align: center;
  vertical-align: center;
}

.underline{
  border-bottom: 3px solid green;
}

.tricolor{
  background-color: #ededed;
}

.radius{
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.trans{
  background-color: #C6C6C6;
  color: black;
  font-size: 2em
  width: 500px;
  height: 400px;
  vertical-align: center;
  margin-top: 25px;
  padding-right: 10px;
  opacity: 0.85;

}

.Inline{
  width: 75%;
  padding: 0px;
}

.meet{
  padding: 10px 10px 10px 30px;
  color: black;
  font-size: 2em;
}

p{
  font-size: 0.50em;
}

.match{
  padding: 0px 10px 10px 30px;
  font-size: 1.00em;
}

img{
  width: 300px;
  margin: 40px 10px 10px 10px;
  text-align: center;
}

a {
  padding-right: 10px;
}

/*Link Actions:*/

a:link{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

.margin{
  margin-top: 25px;
  margin-left: 10px;
  font-size: 1.0em;
}

span{
  text-decoration: line-through;
  color: #808080;
}